# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node.js
node_modules/
.next/
out/
build/
*.tsbuildinfo
.npm
.eslintcache

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# AI Models
*.pt
*.onnx
*.engine
*.db
temp_*
